# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

bin
/raytracer
*.swp
/models/buddha.obj
/models/dragon.obj
/models/buddha_watertight.obj

#YouCompleteMe
.ycm_extra_conf.pyc
